@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';

body {
  // 高度
  height: 100%;
  // 平滑字体，针对firefox浏览器
  -moz-osx-font-smoothing: grayscale;
  // 字体平滑，针对webkit浏览器
  -webkit-font-smoothing: antialiased;
  // 文本渲染，优化文本渲染
  text-rendering: optimizeLegibility;
  // 字体优先级设置
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
// 所有的label标签字体加粗
label {
  font-weight: 700;
}

html {
  // 高度
  height: 100%;
  // 盒子模型，决定了浏览器苏荷计算元素的总宽度和高度，content-box和border-box的区别: content-box表示content为基准向外扩张，border-box表示border为基准向内挤压了conte
  box-sizing: border-box;
}

#app {
  height: 100%;
}

// 选择所有元素
*, 
// 选择所有原属的before伪元素
*:before,
// 选择所有原属的after伪元素
*:after {
  // 继承父元素的盒子模型,inherit表示继承父元素的盒子模型
  box-sizing: inherit;
}

.no-padding {
  // 强制设置内边距为零
  padding: 0px !important;
}

.padding-content {
  // 设置上下内边距4px,左右边距0
  padding: 4px 0;
}

// 用来移除链接在获得焦点或激活状态的轮廓线
a:focus,
a:active {
  outline: none;
}

// 普通状态的链接，获着焦点时的链接，鼠标悬停时的链接
a,
a:focus,
a:hover {
  cursor: pointer; // 鼠标悬停时显示为手型
  color: inherit; // 继承父元素的颜色
  text-decoration: none; // 移除链接下划线
}
// 移除div元素的默认轮廓线
div:focus {
  outline: none;
}
// 浮动到右边
.fr {
  float: right;
}
// 浮动到左边
.fl {
  float: left;
}
// 右内边距5px
.pr-5 {
  padding-right: 5px;
}
// 左内边距5px
.pl-5 {
  padding-left: 5px;
}
// 块级元素
.block {
  display: block;
  // 块级元素的宽度为100%,独占一行，可以设置宽高，margin和padding 生效
}
// 鼠标悬停时显示为手型
.pointer {
  cursor: pointer;
}
// 行内块级元素
.inlineBlock {
  display: block;
}

// 清除浮动，使用浮动布局已经落后了
.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

aside {
  background: #eef1f6;
  padding: 8px 24px;
  margin-bottom: 20px;
  border-radius: 2px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    color: #337ab7;
    cursor: pointer;

    &:hover {
      color: rgb(32, 160, 255);
    }
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

.pagination-container {
  margin-top: 30px;
}

.text-center {
  text-align: center
}

.sub-navbar {
  height: 50px;
  line-height: 50px;
  position: relative;
  width: 100%;
  text-align: right;
  padding-right: 20px;
  transition: 600ms ease position;
  background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);

  .subtitle {
    font-size: 20px;
    color: #fff;
  }

  &.draft {
    background: #d0d0d0;
  }

  &.deleted {
    background: #d0d0d0;
  }
}

.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

.filter-container {
  padding-bottom: 10px;

  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 10px;
  }
}

//refine vue-multiselect plugin
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}
